#content
{
	display: flex;
	width: 100%;
	height: 90vh;
	min-height: 90vh;
}

#me-picture
{
	border-top: 3px solid #000;
	background: #07F url("/assets/me.jpg") no-repeat center;
	background-size: cover;
	flex: 0 0 68vh;
}

.about,
.othello,
.pokemon,
.resume
{
	padding: 10px;
	border-top: 3px solid #000;
	border-left: 3px solid #000;
	background: rgba(0, 0, 0, .55);
	color: #FFF;
	flex: 1 1 65%;
	overflow: auto;
}

p
{
	font-size: 17px;
	text-align: justify;
	text-justify: inter-word;
}

p a
{
	transition: color .2s;
	text-decoration: none;
	color: #4D88ff;
}

p a:hover
{
	transition: color .3s;
	color: #003BFF;
}