.before-after-box
{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.before-after-box:before
{
	content: "";
	display: block;
	padding-top: 34%;
}

.before-after-box div
{
	flex: 1 1 33%;
}

.before-after-box .arrow
{
	background: url("http://images.clipartpanda.com/arrow-clip-art-red-arrow-large.png") no-repeat center;
	background-size: contain;
}

.before-after-box #before-1
{
	background: url("https://s17.postimg.org/xdi2g2mm7/Before_1.png") no-repeat center;
	background-size: contain;
}

.before-after-box #after-1
{
	background: url("https://s17.postimg.org/4nv6jfqbz/After_1.png") no-repeat center;
	background-size: contain;
}

.before-after-box #before-2
{
	background: url("https://s17.postimg.org/db8dxvbzz/Before_2.png") no-repeat center;
	background-size: contain;
}

.before-after-box #after-2
{
	background: url("https://s17.postimg.org/43g5h6s33/After_2.png") no-repeat center;
	background-size: contain;
}

.before-after-box #before-3
{
	background: url("https://s17.postimg.org/eq9ymni8v/Before_3.png") no-repeat center;
	background-size: contain;
}

.before-after-box #after-3
{
	background: url("https://s17.postimg.org/keg9dkwvz/After_3.png") no-repeat center;
	background-size: contain;
}

.before-after-box #before-4
{
	background: url("https://s17.postimg.org/lthu2bden/Before_4.png") no-repeat center;
	background-size: contain;
}

.before-after-box #after-4
{
	background: url("https://s17.postimg.org/yyxc7uu9b/After_4.png") no-repeat center;
	background-size: contain;
}