.before-after-box
{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.before-after-box:before
{
	content: "";
	display: block;
	padding-top: 34%;
}

.before-after-box div
{
	flex: 1 1 33%;
}

.before-after-box .arrow
{
	background: url("http://images.clipartpanda.com/arrow-clip-art-red-arrow-large.png") no-repeat center;
	background-size: contain;
}

.before-after-box #before-1
{
	background: url("https://i.imgur.com/uekAsJj.png") no-repeat center;
	background-size: contain;
}

.before-after-box #after-1
{
	background: url("https://i.imgur.com/V3UmGFU.png") no-repeat center;
	background-size: contain;
}

.before-after-box #before-2
{
	background: url("https://i.imgur.com/hOQ95lq.png") no-repeat center;
	background-size: contain;
}

.before-after-box #after-2
{
	background: url("https://i.imgur.com/ZzC7InI.png") no-repeat center;
	background-size: contain;
}

.before-after-box #before-3
{
	background: url("https://i.imgur.com/uHUdU3O.png") no-repeat center;
	background-size: contain;
}

.before-after-box #after-3
{
	background: url("https://i.imgur.com/mrm9H6f.png") no-repeat center;
	background-size: contain;
}

.before-after-box #before-4
{
	background: url("https://i.imgur.com/gE5a9W1.png") no-repeat center;
	background-size: contain;
}

.before-after-box #after-4
{
	background: url("https://i.imgur.com/honTfR6.png") no-repeat center;
	background-size: contain;
}