body {
  background: #000 url("https://i.imgur.com/1pKSAv1.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  overflow: hidden; }

#top-bar {
  height: 10vh;
  min-height: 10vh; }

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 10vh; }

.nav-link {
  transition: all .2s;
  padding: 12px;
  border-top: 2px solid #43A3F7;
  border-right: 2px solid #43A3F7;
  border-left: 2px solid #43A3F7;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  text-align: center;
  background: #201E1E;
  text-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000;
  font-weight: 100;
  letter-spacing: 0;
  color: #43A3F7;
  flex: 0 1 85px; }

.nav-link:hover {
  cursor: pointer;
  box-shadow: 0 0 0 #000;
  border-top: 2px solid #92C9FA;
  border-right: 2px solid #92C9FA;
  border-left: 2px solid #92C9FA;
  border-bottom: none;
  color: #E1F6FD; }

#content {
  display: flex;
  width: 100%;
  height: 90vh;
  min-height: 90vh; }

#me-picture {
  border-top: 3px solid #000;
  background: #07F url("https://i.imgur.com/JhCZAUY.jpg") no-repeat center;
  background-size: cover;
  flex: 0 0 68vh; }

.about,
.othello,
.pokemon,
.resume {
  padding: 10px;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  background: rgba(0, 0, 0, 0.55);
  color: #FFF;
  flex: 1 1 65%;
  overflow: auto; }

p {
  font-size: 17px;
  text-align: justify;
  text-justify: inter-word; }

p a {
  transition: color .2s;
  text-decoration: none;
  color: #4D88ff; }

p a:hover {
  transition: color .3s;
  color: #003BFF; }

#othello-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 74vh;
  margin: 5px 12px 5px 5px;
  float: left; }

#othello-board {
  width: 74vh;
  height: 74vh;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid #000;
  overflow: hidden;
  background: #0B0 url("https://i.imgur.com/1Js8coH.jpg") no-repeat center;
  background-size: cover; }

.space {
  transition: background-color ease-out .32s;
  width: 12.5%;
  height: 12.5%;
  box-sizing: border-box;
  border: 2px solid #000;
  background-color: rgba(0, 170, 255, 0);
  float: left;
  transform-style: preserve-3d; }

.space.legal-move:hover {
  transition: background-color ease-in .32s;
  background-color: rgba(0, 170, 255, 0.85);
  cursor: pointer; }

.space.occupied:before,
.space.occupied:after {
  transition: transform .3s linear;
  content: "";
  display: block;
  width: 90%;
  height: 90%;
  margin-left: 5%;
  backface-visibility: hidden; }

.space.occupied:before {
  background: url("https://i.imgur.com/bF0UN9N.png") no-repeat center;
  background-size: cover;
  margin-top: 5%; }

.space.occupied:after {
  background: url("https://i.imgur.com/ZLC8uOF.png") no-repeat center;
  background-size: cover;
  margin-top: -90%; }

.space.occupied.black:before {
  transform: rotate3d(1, -1, 0, 0deg); }

.space.occupied.white:before {
  transform: rotate3d(1, -1, 0, 180deg); }

.space.occupied.black:after {
  transform: rotate3d(1, -1, 0, -180deg); }

.space.occupied.white:after {
  transform: rotate3d(1, -1, 0, 0deg); }

#othello-reset {
  transition: all .15s linear;
  position: relative;
  background: #201E1E;
  border: 1px solid #00406D;
  box-shadow: 1px 2px 6px #004677;
  color: #43A3F7;
  left: 0;
  top: 0;
  border-radius: 5px;
  font-size: 14px;
  outline: none; }

#othello-reset:hover {
  transition: all .2s linear;
  background: #121111;
  border: 1px solid #003D68;
  box-shadow: -1px -1px 2px #0088E7;
  color: #98CDFB;
  left: 2px;
  top: 3px;
  cursor: pointer; }

#othello-feedback {
  display: flex;
  justify-content: space-between; }

#othello-feedback span {
  font-size: 18px; }

.before-after-box {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.before-after-box:before {
  content: "";
  display: block;
  padding-top: 34%; }

.before-after-box div {
  flex: 1 1 33%; }

.before-after-box .arrow {
  background: url("http://images.clipartpanda.com/arrow-clip-art-red-arrow-large.png") no-repeat center;
  background-size: contain; }

.before-after-box #before-1 {
  background: url("https://i.imgur.com/uekAsJj.png") no-repeat center;
  background-size: contain; }

.before-after-box #after-1 {
  background: url("https://i.imgur.com/V3UmGFU.png") no-repeat center;
  background-size: contain; }

.before-after-box #before-2 {
  background: url("https://i.imgur.com/hOQ95lq.png") no-repeat center;
  background-size: contain; }

.before-after-box #after-2 {
  background: url("https://i.imgur.com/ZzC7InI.png") no-repeat center;
  background-size: contain; }

.before-after-box #before-3 {
  background: url("https://i.imgur.com/uHUdU3O.png") no-repeat center;
  background-size: contain; }

.before-after-box #after-3 {
  background: url("https://i.imgur.com/mrm9H6f.png") no-repeat center;
  background-size: contain; }

.before-after-box #before-4 {
  background: url("https://i.imgur.com/gE5a9W1.png") no-repeat center;
  background-size: contain; }

.before-after-box #after-4 {
  background: url("https://i.imgur.com/honTfR6.png") no-repeat center;
  background-size: contain; }

.resume-object {
  display: block;
  width: 96%;
  height: 100%;
  margin: auto; }
